<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav navbar-nav mr-auto">
         <a class="navbar-brand" href="/">Navbar</a>
      </ul>
      <% if(user === null){ %>
      <ul class="nav navbar-nav mr-right">
        <li class="nav-item">
          <a class="nav-link active" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>

      </ul>
      <% }else{ var stat = false; if(typeof title != 'undefined'){ stat = true; } %>
      <ul class="nav navbar-nav mr-right">
        <li class="nav-item">
          <a class="nav-link <% if(stat){ if(title === "home") { %>active<% }}%>" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link <% if(stat){ if(title === "post") { %>active<% }}%>" href="new/post">Post</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= user.firstname + " " + user.lastname %>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/profile">Profile</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/logout">Logout</a>
          </div>
        </li>
      </ul>
      <% } %>
    </div>
  </div>
</nav>
