<div class="card">
  <div class="card-head">
    <p class="card-title">Realms</p>
  </div>
  <div class="card-body">

    <% if(user.realms.length > 0){ %>
    <% for (var i = 0; i < user.realms.length; i++) { %>
    <a href="u/<%= user.realms[i].name%>" class="no-bs">
      <div class="user-body">
        <div class="user-elem">
          <img src="<%= user.realms[i].picture %>" style="width:24px; height:24px; border-radius:25%; background-color:blue;">
          </img>
        </div>
        <div class="user-elem">
          <span style="margin-bottom:0; font-weight:400;">&nbsp;<%= user.realms[i].name %></span>
        </div>
        <div class="user-elem">
          <span class="float-right" data-toggle="tooltip" data-placement="bottom" title="Friend request is pending"></span>
        </div>


      </div>
    </a>
    <% } }else{ %>
      <p class="card-subtitle">No Friends</p>
      <% }%>
  </div>
</div>
