body {
  background-color: rgba(18, 18, 18, 1);
  font-family: 'IBM Plex Sans', sans-serif;
}

.ql-snow {
  background-color: #fff;
}

.ql-editor {
  min-height: 100px;
  color:rgba(31, 31, 31, 1);
}

.navbar {
  background-color: rgba(31, 31, 31, 1) !important;
  color: rgba(226, 226, 226, 1) !important;
  height: 48px;
}

.navbar a {
  color: rgba(226, 226, 226, 1) !important;
}

.dropdown-toggle::after {
  display: none;
}

.nav-drop {
  background-color: rgba(31, 31, 31, 1) !important;
  border: 1px solid rgba(31, 31, 31, 1);
  margin-right: 4px;
}

.bottom-nav {
  border-top: 1px solid rgba(97, 97, 97, 0.5);
  height: 42px;
}

.nav-drop:hover {
  border: 1px solid rgba(97, 97, 97, 1);
}

.username {
  font-size: 14px;
  color: rgb(215, 218, 220);
  line-height: 16px;
}

.nav-link {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}

.selection-dropdown-menu {
  width: 100%;
}

.sort-drop-menu {
  width: 50%;
}

.card-title-span {
  color: rgb(215, 218, 220);
  font-size: 18px;
  padding: 16px 0px 0px 16px;
}

.card-sub-span {
  color: rgba(215, 218, 220, 0.5);
  font-size: 12px;
  padding: 0px 0px 0px 16px;
}

.selection-dropdown {
  text-align: left;
  width: 15vw;
}

.drop-carrot {
  height: 24px;
  color: rgb(215, 218, 220);
}
