<!DOCTYPE html>
<html lang="en">
<%- include("partials/header"); %>

<body>
  <%- include("partials/nav"); %>
  <div class="realm-header">
    <div class="container">
      <h4 class="realm-header-title">settings</h4>
    </div>
  </div>
  <nav class="navbar navbar-expand-lg realm-nav">
    <div class="container">
      <ul class="navbar-nav" id="myTab" role="tablist">
        <li class="nav-item active">
          <a class="nav-link" href="#profile" id="profile" role="tab" data-toggle="tab">profile <span class="sr-only">(current)</span></a>
        </li>

      </ul>
    </div>
  </nav>
  <br>
  <div class="container">
    
  </div>
</body>

</html>
