<!DOCTYPE html>
<html lang="en">

<%- include("partials/header") %>
<%- include("partials/nav") %>

<body>
  <br>
  <div class="container">
    <div class="card bg-light chat-window">
      <div class="row">
        <div class="col-md-3 " style="padding-right:0px;">
          <p class="card-header">Friends</p>
          <ul class="list-group list-group-flush">
            <% if(typeof user.friends != "undefined"){ %>
            <% for(var i = 0; i < user.friends.length; i++){ %>
            <li class="list-group-item"><%= user.friends[i] %><span class="float-right"> 1</span></li>
            <% } %>
            <% } %>
            <li class="list-group-item"><a href="#add">Add Friends</a></li>
          </ul>
        </div>
        <div class="col-md-9" style="padding-left:0px;">
          <p class="card-header">Chat</p>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
