<!DOCTYPE html>
<html lang="en">
<%- include("partials/header"); %>

<body>

  <%- include("partials/nav"); %>
  <br>
  <div class="container">
    <div class="row">

      <div class="col-md-8" style="margin-bottom: 16px;">
        <%- include("partials/smallpost"); %>
      </div>
      <div class="col-md-4" style="margin-bottom: 16px;">
        <% if(user != null){ %>
        <%- include("partials/userinfo"); %>
        <% } %>
      </div>

    </div>
  </div>

</body>

</html>
