<!DOCTYPE html>
<html lang="en">

<%- include("partials/header") %>
<script type="application/x-javascript">
  addEventListener("load", function() {
    setTimeout(hideURLbar, 0);
  }, false);

  function hideURLbar() {
    window.scrollTo(0, 1);
  }
</script>
<style>
  body {
    font-family: 'IBM Plex Sans', sans-serif;
  }

  /* Set black background color, white text and some padding */
  footer {
    background-color: #555;
    color: white;
    padding: 15px;
  }
</style>

  <%- include("partials/nav") %>

<body>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-md-6" style="margin-top:5%;">

        <div class="card bg-light">
          <div class="card-header">Login</div>
          <div class="card-body">

            <form action="/login" method="post">
              <div class="form-group">
                <input type="text" onchange="" class="form-control" id="logemail" name="logemail" placeholder="email">
                <small id="usernameStatus" class="form-text text-muted"></small>
              </div>
              <div class="form-group">
                <input type="password" class="form-control" id="logpassword" name="logpassword" placeholder="password">
              </div>
              <div class="form-group">
                <input class="btn btn-primary" type="submit" value="Login">
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-6" style="margin-top:5%;">
        <div class="card bg-light">
          <div class="card-header">Register</div>
          <div class="card-body">

            <form id="login" action="/login" autocomplete="new-password" method="post" onsubmit="event.preventDefault(); validateMyForm();" >
              <div class="form-group">
                <input type="text" onchange="" autocomplete="off" class="form-control" id="username" name="username" placeholder="username">
                <small id="usernameStatus" class="form-text text-muted">Make it unique, it's forever!</small>
              </div>
              <div class="form-group">
                <input type="text" onchange="" autocomplete="off" class="form-control" id="email" name="email" placeholder="email">
                <small id="emailStatus" class="form-text text-muted">We won't spam you or share your info</small>
              </div>
              <div class="form-group">
                <input type="password" class="form-control" id="password" name="password" placeholder="password">
              </div>
              <div class="form-group">
                <input type="password" class="form-control" id="password_conf" name="passwordConf" placeholder="confirm password">
              </div>
              <div class="form-group">
                <input class="btn btn-primary" type="submit" value="Register">
              </div>


            </form>

          </div>
        </div>
      </div>
    </div>
  </div>

</body>
<script type="text/javascript">


  var passWordField = document.getElementById('password')
  var passWordConfirmField = document.getElementById('password_conf')
  var form = document.getElementById('login')

  function validateMyForm() {
    if (passWordField.value != passWordConfirmField.value) {
       var c = "Passwords do not match. Please try again.";
    } else {
      form.submit()
    }
  }
</script>
</html>
