<!DOCTYPE html>
<html lang="en">
<%- include("partials/header") %>


<%- include("partials/nav") %>

<body>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-md-8" style="margin-top:5%;">
        <div class="card bg-light">
          <div class="card-header">New Post</div>
          <div class="card-body">

            <form id="post" action="/new/post" method="post">
              <div class="row">
                <div class="col-md-8">
                  <div class="form-group">
                    <label>Title</label>
                    <input type="text" onchange="" class="form-control" id="title" name="title" placeholder="Title">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Post section</label>
                    <select class="form-control" id="section" name="section">
                      <% if(target != null){
                        %>
                      <option><%= target %></option>
                      <%
                      } %>
                      <optgroup label="_________">
                        <% for (var i = 0; i < realm.length; i++) { %>
                        <option><%= realm[i].name %></option>
                        <% } %>
                      </optgroup>

                    </select>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label>Post</label>
                <textarea class="form-control" id="body" name="body" rows="3"></textarea>
              </div>

              <div class="form-group">
                <input class="btn btn-primary" type="submit" value="Post">
              </div>


            </form>

          </div>
        </div>
      </div>
      <div class="col-md-2" style="margin-top:5%;"></div>
    </div>
  </div>

</body>
<script type="text/javascript">
  var quill = new Quill('#editor-container', {
    modules: {
      toolbar: [
        ['bold', 'italic'],
        ['link', 'blockquote'],
        [{
          list: 'ordered'
        }, {
          list: 'bullet'
        }]
      ]
    },
    placeholder: 'Write your post here',
    theme: 'snow'
  });
</script>

</html>
